<% @page_title = "Search Menu" %>
<div class="search index">
  <h2>Welcome to Zendesk Search</h2>
  <br />
  <h4>Please select from the following search options:</h4>
  <ul>
  	<li>Type 1 to search Zendesk</li>
  	<li>Type 2 to view a list of searchable fields</li>
  	<li>Type 3 or 'quit' to exit</li>
  </ul>
  <br />
  <div class="search search_term">
		<%= form_for(:search_menu, :url => search_show_path, :method => 'get') do |f| %>
		  <div>
		  	Your choice is: <%= f.text_field(:choice) %>
		  	<%= f.submit("Submit") %>
		  </div>
		<% end %>
	</div>
</div>