<% @page_title = "All searchable fields" %>

<!-- <div class="menu"> -->
<%= link_to("<< Back to Main Search Menu", search_path, :class => 'back-link') %>
<div>
  <h2>The list of all searchable fields</h2>
  <div>----------------------------------------</div>
  <ul>Search Users wili:
    <li>_id</li>
    <li>url</li>
    <li>external_id</li>
    <li>name</li>
    <li>alias</li>
    <li>created_at</li>
    <li>active</li>
    <li>verified</li>
    <li>shared</li>
    <li>locale</li>
    <li>timezone</li>
    <li>last_login_at</li>
    <li>email</li>
    <li>phone</li>
    <li>signature</li>
    <li>organization_id</li>
    <li>tags</li>
    <li>suspended</li>
    <li>role</li>
  </ul>

  <div>----------------------------------------</div>
  <ul>Search Tickets wili:
	  <li>_id</li>
    <li>url</li>
    <li>external_id</li>
    <li>created_at</li>
    <li>type</li>
    <li>subject</li>
    <li>description</li>
    <li>priority</li>
    <li>status</li>
    <li>submitter_id</li>
    <li>assignee_id</li>
    <li>organization_id</li>
    <li>tags</li>
    <li>has_incidents</li>
    <li>due_at</li>
    <li>via</li>
  </ul>
  <div>----------------------------------------</div>
  <ul>Search Organizations wili:
  	<li>_id</li>
	  <li>url</li>
    <li>external_id</li>
    <li>name</li>
    <li>domain_names</li>
    <li>created_at</li>
    <li>details</li>
    <li>shared_tickets</li>
    <li>tags</li>
  </ul>

</div>

