<!DOCTYPE html>
<html>
  <head>
    <title>Simple Search: <%= @page_title || "Main" %></title>
    <%= stylesheet_link_tag('main', :media => 'all') %>
  </head>

  <body>

    <div id="header">
      <h1>Simple Search</h1>
    </div>
    <div id="main">
      <div id="content">   	
        <%= yield %>
      </div>
    </div>
    <div id="footer">
      <p id="email">dongliu.us@gamil.com</p>
    </div>

  </body>
</html>
